// colors
:root {
  --ie-c-blue-600: hsla(208, 98%, 39%, 1);
  --ie-c-blue-400: hsla(208, 96%, 51%, 1);
  --ie-c-blue-300: hsla(208, 94%, 70%, 1);
  --ie-c-blue-200: hsla(208, 83%, 88%, 1);

  --ie-c-gray-400: hsla(0, 0%, 24%, 1);
  --ie-c-gray-300: hsla(0, 0%, 70%, 1);
  --ie-c-gray-200: hsla(0, 0%, 97%, 1);

  --ie-c-red-100: hsla(353, 100%, 41%, 1);
  --ie-c-red-50: hsla(0, 91%, 78%, 1);

  --ie-c-green-100: hsla(70, 50%, 46%, 1);
  --ie-c-green-50: hsla(57, 90%, 88%, 1);

  --ie-c-yellow-400: hsla(50, 96%, 51%, 1);

  --ie-c-white: hsla(0, 0%, 100%, 1);
  --ie-c-black: hsla(0, 0%, 0%, 1);
}
