// colors
:root {
  --ie-c-blue-400: hsl(208,96%,51%);
  
  --ie-c-gray-400: hsl(0,0%,24%);
  --ie-c-gray-300: hsl(0,0%,70%);
  --ie-c-gray-200: hsl(0,0%,97%);
  
  --ie-c-red-100: hsl(353, 100%, 41%);
  --ie-c-red-50: hsl(0, 91%, 78%);
  
  --ie-c-green-100: hsl(70, 50%, 46%);
  --ie-c-green-50: hsl(57, 90%, 88%);

  --ie-c-white: hsl(0, 0%, 100%);
  --ie-c-black: hsl(0, 0%, 0%);
}