// colors
:root {
  --ie-c-blue-400: rgb(12,140,250);
  
  --ie-c-gray-400: rgb(62,62,62);
  --ie-c-gray-300: rgb(231,231,231);
  --ie-c-gray-200: rgb(248,248,248);
  
  --ie-c-red-100: #D2001A;
  
  --ie-c-white: #fff;
  --ie-c-black: #000;
}