@mixin hasArrow($position: 'left', $color: var(--ie-c-black), $width: var(--ie-size-sm)) {
  @apply relative;

  &::after,
  &::before {
    @if $position == 'right' {
      @apply right-[100%]
    } @else {
      @apply left-[100%]
    }
    @apply top-[50%] h-none w-none absolute;
    @apply content-[''] pointer-events-none;
    @apply border-solid border-default-none;
  }

  &::after {
    @if $position == 'right' {
      border-right-color: #{$color};
    } @else {
      border-left-color: #{$color};
    }
    border-width: #{$width};
    margin-top: #{ calc($width * -1 )};
  }
}