@mixin printArrow(
  $position: 'left',
  $color: var(--ie-c-black),
  $width: var(--ie-size-sm)
) {
  @apply relative;

  &::after,
  &::before {
    @if $position == 'right' {
      @apply right-[100%]
    } @else {
      @apply left-[100%]
    }
    @apply top-[50%] h-none w-none absolute;
    @apply content-[''] pointer-events-none;
    @apply border-solid border-default-none;
  }

  &::after {
    border-#{$position}-color: #{$color};
    border-width: #{$width};
    margin-top: #{ calc($width * -1 )};
  }
}