.user-message {
  $usemessage: &;

  @apply flex gap-sm items-center;

  &[data-type='send'] {
    @apply flex-row-reverse;
  }

  &[data-type='receive'] {
    @apply flex-row;
  }

  &__text {
    @apply p-md flex gap-xsm flex-col;
    @apply text-small text-default-positive;
    @apply bg-blue-400 rounded-sm;

    [data-type='send'] & {
      @include printArrow(
        $position: 'left',
        $color: var(--ie-c-blue-400),
        $width: var(--ie-size-xsm)
      );
    }

    [data-type='receive'] & {
      @include printArrow(
        $position: 'right',
        $color: var(--ie-c-gray-200),
        $width: var(--ie-size-xsm)
      );
      @apply bg-gray-200 text-gray-400;
    }
  }

  &__date {
    @apply text-[10px];
  }
}
