.base-ui-list {
  --from-animation: 25%;
  --to-animation: -250%;
  --max-height: none;

  @include create-animation(
    $name: 'appear-message',
    $from: translateY(var(--from-animation)),
    $to: translateY(var(--to-animation))
  );

  @apply flex flex-col p-md items-center overflow-auto;
  max-height: var(--max-height);
  
  &__items {
    @apply flex flex-col gap-md w-full;
  }

  &__fallback {
    @apply flex justify-center items-center;
    @apply text-small text-blue-400;
  }
}
